################################################################################
# 99-ntpgps-usb-detect.rules
#
# Enables USB plug and play for GPS receiver with NTP
#
# Copyright (C) 2025 Richard Elwell
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#
################################################################################

# FTDI USB-to-Serial converter
#[RULE1_START]
#SUBSYSTEM=="tty", KERNEL=="ttyUSB[0-9]*", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", \
#    TAG+="systemd", ENV{ID_NTPGPS}="1"
#[RULE1_END]

# FTDI USB-to-Serial converter
#[RULE2_START]
#SUBSYSTEM=="tty", KERNEL=="ttyUSB[0-9]*", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", \
#    TAG+="systemd", ENV{ID_NTPGPS}="1"
#[RULE2_END]

# CH340 USB-to-Serial converter
#[RULE3_START]
#SUBSYSTEM=="tty", KERNEL=="ttyUSB[0-9]*", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", \
#    TAG+="systemd", ENV{ID_NTPGPS}="1"
#[RULE3_END]

# CH340 USB-to-Serial converter
#[RULE4_START]
#SUBSYSTEM=="tty", KERNEL=="ttyUSB[0-9]*", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", \
#    TAG+="systemd", ENV{ID_NTPGPS}="1"
#[RULE4_END]

# VK172 USB GPS dongle
#[RULE5_START]
#SUBSYSTEM=="tty", KERNEL=="ttyACM[0-9]*", ATTRS{idVendor}=="1546", ATTRS{idProduct}=="01a7", \
#    ATTRS{manufacturer}=="u-blox AG - www.u-blox.com", ATTRS{product}=="u-blox 7 - GPS/GNSS Receiver", \
#    TAG+="systemd", ENV{ID_NTPGPS}="1"
#[RULE5_END]

